

@model Tratament.Web.ViewModels.SendRequest.SendRequestViewModel

@using Microsoft.Extensions.Options

@{
    ViewBag.Title = "Send Request";
}

<div class="container">



    <form method="post" enctype="multipart/form-data" asp-controller="SendRequest" asp-action="Send" id="sendRequestForm" >

        <div class="mt-3">

            <div class="row">

                <div class="col-sm-5">

                    <div class="row mt-2">
                        <label class="col-sm-4">Tipul prestației</label>
                        <div class="col-sm-8">

                            <select asp-for="@(Model.TicketTypeId)" asp-items="@(ViewBag.TicketTypes)" class="form-control shadow-none" id="tiketType">
                                <option selected value="">Selectați tipul prestației</option>
                            </select>
                            <span asp-validation-for="@(Model.TicketTypeId)" class="text-danger"></span>

                        </div>
                    </div>

                    <div class="row mt-2">
                        <label class="col-sm-4">IDNP benficiarului</label>
                        <div class="col-sm-8">

                            <input type="text" asp-for="@(Model.Idnp)" class="form-control shadow-none" id="Idnp" autocomplete="off" placeholder="idnp" />
                            <span asp-validation-for="@(Model.Idnp)" class="text-danger"></span>

                        </div>
                    </div>

                    <div class="row mt-2">
                        <label class="col-sm-4">e-mail:</label>
                        <div class="col-sm-8">
                            <input type="text" asp-for="@(Model.Email)" class="form-control shadow-none" id="email" autocomplete="off" placeholder="e-mail" />
                            <span asp-validation-for="@(Model.Email)" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <label class="col-sm-4">Phone</label>
                        <div class="col-sm-8">
                            <input type="text" asp-for="@(Model.Phone)" class="form-control shadow-none" id="phone" autocomplete="off" placeholder="phone" />
                        </div>
                    </div>

                    <hr />

                    <div class="row" id="error-corect-data" style="display:none">
                        <div class="col-sm-10">
                            <span id="error-corect-data" style="color: red;">Acest cimp este obligator</span>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-1" style="display:none" id="ConfirmCorectData">
                            <input id="CorrectData" type="checkbox" name="CorrectData" data-val="true">
                        </div>

                        <div class="col-sm-11">

                            <div id="DisabilitiesTicketsConfirm" style="display:none">
                                @await Html.PartialAsync("~/Views/Partials/DisabilitiesTicketsConfirm_Partial.cshtml")
                            </div>

                            <div id="VeteransTicketsConfirm" style="display:none">
                                @await Html.PartialAsync("~/Views/Partials/VeteransTicketsConfirm_Partial.cshtml")
                            </div>

                            <div id="CernobilTicketsConfirm" style="display:none">
                                @await Html.PartialAsync("~/Views/Partials/CernobilTicketsConfirm_Partial.cshtml")
                            </div>

                            <div id="PaymentCompensationConfirm" style="display:none">
                                @await Html.PartialAsync("~/Views/Partials/PaymentCompensationConfirm_Partial.cshtml")
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <label>Cod de verificare</label>
                        <div class="col-sm-12 mt-2">
                            @await Html.PartialAsync("~/Views/Partials/DntCaptcha_Partial.cshtml")
                        </div>
                    </div>

                    @*<div class="row">
            <div class="col-sm-12">
                @await Html.PartialAsync("~/Views/Partials/Recaptcha_Partial.cshtml")
            </div>
        </div>*@

                    <div class="row mt-2">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary">Aplică</button>
                        </div>
                    </div>

                </div>

                <div class="col-sm-7">

                    <div id="DisabilitiesTreatmentTickets" style="display:none">
                        @await Html.PartialAsync("~/Views/Partials/DisabilitiesTreatmentTicketsUtil_Partial.cshtml")
                    </div>

                    <div id="VeteransTreatmentTickets" style="display:none">

                        @await Html.PartialAsync("~/Views/Partials/VeteransTreatmentTicketsUtil_Partial.cshtml")
                    </div>

                    <div id="TicketsForCernobil" style="display:none">

                        @await Html.PartialAsync("~/Views/Partials/RequestCernobilTreatmentsTicketsUtil_Partial.cshtml")
                    </div>

                    <div id="PaymentCompensation" style="display:none">

                        @await Html.PartialAsync("~/Views/Partials/PaymentCompensationForCernobil.cshtml")
                    </div>

                </div>

            </div>

        </div>

    </form>

</div>

<script type="text/javascript">

    const sections = {
        "1": ["DisabilitiesTreatmentTickets", "DisabilitiesTicketsConfirm"],
        "2": ["VeteransTreatmentTickets", "DisabilitiesTicketsConfirm"],
        "3": ["TicketsForCernobil", "CernobilTicketsConfirm"],
        "4": ["PaymentCompensation", "PaymentCompensationConfirm"]
    };

    const ticketTypeDropdown = document.getElementById("tiketType");
    const correctDataCheckbox = document.getElementById("CorrectData");
    const errorCorrectData = document.getElementById("error-corect-data");
    const sendRequestForm = document.getElementById("sendRequestForm");
    const confirmCorectData = document.getElementById("ConfirmCorectData");

    ticketTypeDropdown.addEventListener("change", updateDivVisibility);

    function updateDivVisibility() {
        hideUtilDivs();

        toggleDivCorrectConfirm(false, null, sections);

        const sectionsById = getSectionsById(ticketTypeDropdown.value);

        showUtilDivs(sectionsById);

        toggleDivCorrectConfirm(true, GetTicketTypeId(ticketTypeDropdown), sections);
    }

    sendRequestForm.addEventListener("submit", validateCorrectData);

    function validateCorrectData(event) {

        if (IsVisible(correctDataCheckbox)) {

            if (!correctDataCheckbox.checked) {

                event.preventDefault();
                errorCorrectData.style.display = 'block';

            } else {
                errorCorrectData.style.display = 'none';
            }
        }
    }

    correctDataCheckbox.addEventListener("change", () => errorCorrectData.style.display = "none");

    function hideUtilDivs() {

        const allDivIds = Object.values(sections).flat();
        allDivIds.forEach(divId => {
            const divElement = document.getElementById(divId);
            if (divElement) {
                divElement.style.display = 'none';
            }
        });
    }

    function showUtilDivs(divIds) {

        divIds.forEach(divId => {
            const divElement = document.getElementById(divId);
            if (divElement) {
                divElement.style.display = 'block';
            }
        });
    }

    function getSectionsById(ticketTypeId) {
        return sections[ticketTypeId] || [];
    }

    function toggleDivCorrectConfirm(shouldHide, selectedIndex, sections) {
        const divCorrectData = document.getElementById("ConfirmCorectData");

        if (!divCorrectData) return;


        if (shouldHide && Object.keys(sections).includes(selectedIndex)) {
            divCorrectData.style.display = "block";
        } else {
            divCorrectData.style.display = "none";
        }
    }

    function GetTicketTypeId(ticketTypeDropdown) {

        var getvalue = ticketTypeDropdown.options[ticketTypeDropdown.selectedIndex].value;

        return getvalue;
    }

    document.getElementById("DNTCaptchaInputText").addEventListener("input", function () {

        if (this.value.length > 6) {
            this.value = this.value.substring(0, 6);
        }

        var span = document.querySelector('span[data-valmsg-for="DNTCaptchaInputText"]');

        if (span) {
            span.style.display = this.value.trim() ? 'none' : 'inline'; // Hide if input has value, show if empty
        }

    });

    function IsVisible(divElement) {

        if ($(divElement).is(':visible')) {
            return true;
        }
        return false;
    }

    window.addEventListener("load", function () {

        console.log("Window load event; Selected Item Id: " + GetTicketTypeId(ticketTypeDropdown));
        updateDivVisibility();
    });

</script>



